{% extends 'global/base.html'%}

{% block content %}
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption">
                Contatos
            </caption>

            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">nome</th>
                    <th class="table-header">sobrenome</th>
                    <th class="table-header">telefone</th>
                    <th class="table-header">email</th>
                </tr>
            </thead>

            <tbody>
                {% for contact in contacts %}
                    <tr class="table-row">
                        <td class="table-cell">
                            <a class="table-link" href="{%url 'contact:contact' contact.id %}">
                                {{ contact.id }}
                            </a>
                        </td>
                        <td class="table-cell">
                            <a class="table-link" href="#">
                                {{ contact.first_name }}
                            </a>
                        </td>
                        <td class="table-cell">
                            <a class="table-link" href="#">
                                {{ contact.last_name }}
                            </a>
                        </td>
                        <td class="table-cell">
                            <a class="table-link" href="#">
                                {{ contact.phone }}
                            </a>
                        </td>
                        <td class="table-cell">
                            <a class="table-link" href="#">
                                {{ contact.email }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}